<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<mat-toolbar class="footer row around-xs">
  <div class="col-xs-4 footer-content">
    <div id="logoDiv" class="box">
      <img id="logoSimSave" src="../../assets/img/LogoSimSave@2x.png" />
    </div>
  </div>
  <div class="col-xs-4 footer-content">
    <div id="socials" class="box">
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-youtube-play"></a>
      <a href="#" class="fa fa-linkedin-square"></a>
    </div>
  </div>
  <div class="col-xs-4 footer-content">
    <div id="contact-us" class="box">
      <a href="#" class="fa fa-envelope-o"></a>
      <h1>Fale Conosco</h1>
      <pre>
        Dúvida, crítica, segustão ou elogio? Envie um e-mail para
        supor@simsave.com.br
      </pre>
    </div>
  </div>
</mat-toolbar>
