<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<mat-toolbar class="row footer">
  <div class="footer-div col-lg-2 col-md-3 col-xs-12">
    <div id="logoDiv">
      <img id="logoSimSave" src="../../assets/img/LogoSimSave@2x.png" />
    </div>
  </div>
  <div id="socials-div" class="col-lg-1 col-md-3 col-xs-12">
    <div id="socials">
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-youtube-play"></a>
      <a href="#" class="fa fa-linkedin-square"></a>
    </div>
  </div>
  <div id="contact-us" class="col-lg-3 col-md-4 col-xs-12">
    <div id="contact-us-text">
      <div id="link-title">
        <a href="#" class="fa fa-envelope-o"></a>
        <h1>Fale Conosco</h1>
      </div>
      <div id="doubts-text" class="">
        Dúvida, crítica, segustão ou elogio? Envie um e-mail para
        supor@simsave.com.br.
      </div>
    </div>
  </div>
</mat-toolbar>
