#main-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -50px;
  background-color: #f6f6f9;
  width: 100vw;
  height: 520px;
}
@media (min-width: 0px) and (max-width: 454px) {
  #cards-row {
    margin: 10%;
    width: 374px;
    min-width: 374px;
    height: 356px;
    min-height: 356px;
    max-height: 356px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 1rem;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;

    #card {
      width: 374px;
      max-width: 374px;
      height: 356px;
      max-height: 356px;
    }
  }
}

// 481px — 768px: iPads, Tablets
@media (min-width: 481px) and (max-width: 768px) {
  #cards-row {
    margin: 10%;
    width: 374px;
    min-width: 374px;
    height: 356px;
    min-height: 356px;
    max-height: 356px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    #card {
      width: 374px;
      max-width: 374px;
      height: 356px;
      max-height: 356px;
    }
  }
}

#cards-row {
  margin: auto;
}

#card {
  width: 398px;
  max-width: 398px;
  min-width: 374px;
  height: 356px;
  max-height: 356px;
  min-height: 356px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 10px;
}

.card-title {
  font: normal normal bold 28px/17px Roboto;
  align-self: center;
  text-align: center;
}

.card-text {
  text-align: center;
  font: normal normal normal 16px/25px Roboto;
  letter-spacing: 0px;
  color: #5d5d5d;
  opacity: 1;
  // max-width: 343px;
  // height: 71px;
}

button {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  opacity: 1;
  width: 113px;
  height: 36px;
}
#rectangle {
  width: 40px;
  height: 5px;
  position: absolute;
  left: 46%;
  top: 0%;
  border-radius: 0px 0px 5px 5px;
}
.soon {
  color: #878787;
}
.rectangleRed {
  background-color: #f22627;
}
.rectangleBlue {
  background-color: #236fe6;
}
.rectanglePurple {
  background-color: #7047ea;
}
.rectangleGreen {
  background-color: #7be7b8;
}

.redColor {
  color: #f22627;
}
.blueColor {
  color: #236fe6;
}
.purpleColor {
  color: #7047ea;
}
.greenColor {
  color: #7be7b8;
}
