<div id="main-div" class="row">
  <div id="cards-row" *ngFor="let product of productsList">
    <mat-card
      id="card"
      class="col-xs-12 col-sm-6 col-md-5 col-lg-3"
      [ngClass]="{
        redColor: product.color === '#f22627',
        blueColor: product.color === '#236fe6',
        purpleColor: product.color === '#7047ea',
        greenColor: product.color === '#7be7b8'
      }"
    >
      <div
        id="rectangle"
        [ngClass]="{
          rectangleRed: product.color === '#f22627',
          rectangleBlue: product.color === '#236fe6',
          rectanglePurple: product.color === '#7047ea',
          rectangleGreen: product.color === '#7be7b8'
        }"
      ></div>
      <mat-card-title class="card-title">
        {{ product.title }}
      </mat-card-title>
      <mat-card-content>
        <p class="card-text">
          {{ product.text }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div
          *ngIf="
            product.title === 'Student' || product.title === 'Specialist';
            else elseBlock
          "
        >
          <button mat-stroked-button disabled>Em Breve</button>
        </div>
        <ng-template #elseBlock>
          <button mat-stroked-button>Saiba mais</button>
        </ng-template>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
