<div id="main-div" class="row around-md">
  <div class="col-xs-12 col-sm-8 col-md-3">
    <div class="box">
      <mat-card class="card">
        <mat-card-title class="card-title">Shiba Inu</mat-card-title>

        <mat-card-content>
          <p class="card-text">
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button>Saiba mais</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-3">
    <div class="box">
      <mat-card class="card">
        <mat-card-title class="card-title">Shiba Inu</mat-card-title>
        <mat-card-content>
          <p class="card-text">
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button class="soon">Em Breve</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-3">
    <div class="box">
      <mat-card class="card">
        <mat-card-title class="card-title">Shiba Inu</mat-card-title>

        <mat-card-content>
          <p class="card-text">
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button class="soon">Em Breve</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-3">
    <div class="box">
      <mat-card class="card">
        <mat-card-title class="card-title">Shiba Inu</mat-card-title>
        <mat-card-content>
          <p class="card-text">
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button>Saiba mais</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
