#main-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -10px;
  position: relative;
  background-color: #f6f6f9;
  max-width: 1920px;
  width: 100%;
  height: 100%;
}
#test {
  // position: static;
  align-self: center;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#cards-row {
  margin: auto;
}

#card {
  margin: 5px;
  width: 398px;
  max-width: 398px;
  min-width: 374px;
  height: 356px;
  max-height: 356px;
  min-height: 356px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 10px;
}

.card-title {
  font: normal normal bold 28px/17px Roboto;
  align-self: center;
  text-align: center;
}

.card-text {
  text-align: center;
  font: normal normal normal 16px/25px Roboto;
  letter-spacing: 0px;
  color: #5d5d5d;
  opacity: 1;
}

button {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  opacity: 1;
  width: 113px;
  height: 36px;
}
#rectangle {
  width: 40px;
  height: 5px;
  position: absolute;
  left: 46%;
  top: 0%;
  border-radius: 0px 0px 5px 5px;
}
.soon {
  color: #878787;
}
.rectangleRed {
  background-color: #f22627;
}
.rectangleBlue {
  background-color: #236fe6;
}
.rectanglePurple {
  background-color: #7047ea;
}
.rectangleGreen {
  background-color: #7be7b8;
}

.redColor {
  color: #f22627;
}
.blueColor {
  color: #236fe6;
}
.purpleColor {
  color: #7047ea;
}
.greenColor {
  color: #7be7b8;
}
