.main {
  max-width: 100vw;
  background: 0% 0% no-repeat padding-box;
  min-width: 430px;
}

.main img {
  max-width: 100vw;
  max-height: 800px;
}

.main .divider {
  background-color: #dfe7f8;
  width: 100vw;
  height: 208px;
  margin-top: -10px;
}

.main #signUpDiv {
  background-image: linear-gradient(
    to left,
    rgb(171, 217, 238),
    rgb(65, 128, 226)
  );
  position: relative;
  left: 50%;
  transform: translate(-50%, 25%);
  border-radius: 15px;

  color: white;
  min-width: 344px;
  max-width: 618px;
  height: 199px;
}

#content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#content h1 {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 20px;
  font-family: Roboto;
}

#content span {
  max-width: 80%;
  // margin-top: 30px;
}

#content button {
  width: 25%;
  min-width: 110px;
  font-weight: bold;
  margin-top: 20px;
  background-color: white;
  color: #4987ea;
  font-family: Roboto;
}

@media (min-width: 0px) and (max-width: 649px) {
  .main img {
    min-width: 414px;
    width: 100%;
    height: 375px;
    left: -200px;
    align-self: center;
    // position: absolute;
    display: inline-block;
    -webkit-clip-path: inset(0px 1% 0px 46%);
    clip-path: inset(0px 1% 0px 46%);
  }
}
