.main {
  display: block;
  flex-direction: column;
  max-width: 1920px;
  min-width: 414px;
}

.main img {
  max-width: 100vw;
  max-height: 800px;
  min-width: 414px;
  min-width: 375px;
}

.main .divider {
  background-color: #dfe7f8;
  width: 100vw;
  height: 208px;
  margin-top: -10px;
}

.main #signUpDiv {
  background-image: linear-gradient(
    to left,
    rgb(171, 217, 238),
    rgb(65, 128, 226)
  );
  position: relative;
  left: 50%;
  transform: translate(-50%, 25%);
  border-radius: 15px;

  color: white;
  min-width: 344px;
  max-width: 618px;
  height: 199px;
}

#content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#content h1 {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 20px;
  font-family: Roboto;
}

#content span {
  max-width: 80%;
  // margin-top: 30px;
}

#content button {
  width: 25%;
  min-width: 110px;
  font-weight: bold;
  margin-top: 20px;
  background-color: white;
  color: #4987ea;
  font-family: Roboto;
}

@media screen and (min-width: 0px) and (max-width: 413px) {
  .main img {
    max-width: 800px;
    min-width: 414px;
    min-height: 375px;
    max-height: 375px;
    height: 100%;

    position: relative;
    left: -385px;
    // -webkit-clip-path: inset(0px 0% 50% 46%);
    clip-path: inset(0px 6% 0% 0%);
  }
}
@media screen and (min-width: 414px) and (max-width: 500px) {
  .main img {
    max-width: 980px;
    min-width: 414px;
    min-height: 375px;
    max-height: 10%;

    position: relative;
    left: -490px;
    // -webkit-clip-path: inset(0px 0% 50% 46%);
    clip-path: inset(0px 4% 0% 0%);
  }
}
@media screen and (min-width: 501px) and (max-width: 535px) {
  .main img {
    max-width: 1180px;
    min-width: 414px;
    min-height: 375px;
    max-height: 10%;
    width: auto;

    position: relative;
    left: -620px;
    // -webkit-clip-path: inset(0px 0% 50% 46%);
    clip-path: inset(0px 6% 0% 0%);
  }
}
@media screen and (min-width: 536px) and (max-width: 630px) {
  .main img {
    max-width: 1280px;
    min-width: 414px;
    min-height: 375px;
    max-height: 10%;
    width: auto;

    position: relative;
    left: -620px;
    // -webkit-clip-path: inset(0px 0% 50% 46%);
    clip-path: inset(0px 6% 0% 0%);
  }
}
@media screen and (min-width: 631px) and (max-width: 767px) {
  .main img {
    max-width: 1380px;
    min-width: 414px;
    min-height: 375px;
    height: auto;
    max-height: 10%;
    object-fit: cover;

    position: relative;
    left: -687px;
    // -webkit-clip-path: inset(0px 0% 50% 46%);
    clip-path: inset(0px 4% 0% 0%);
  }
}
