body {
  display: flex;
  background-color: #4987ea;
}
.main {
  display: block;
  flex-direction: column;
  max-width: 1920px;
  min-width: 414px;
}

.main img {
  position: static;
  width: 100%;
  max-width: 1920px;
  max-height: 800px;
  min-width: 414px;
  min-width: 375px;
}

.divider {
  background-color: #dfe7f8;
  max-width: 1920px;
  width: 100%;
  height: 208px;
  margin-top: 50px;
}

.main #signUpDiv {
  background-image: linear-gradient(
    to left,
    rgb(171, 217, 238),
    rgb(65, 128, 226)
  );
  position: relative;
  left: 50%;
  transform: translate(-50%, 25%);
  border-radius: 15px;
  text-align: center;
  color: white;
  min-width: 344px;
  max-width: 618px;
  height: auto;
  width: 100%;
}

#content {
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

#content h1 {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 20px;
  font-family: Roboto;
}

#content span {
  max-width: 80%;
}

#content button {
  width: 25%;
  min-width: 110px;
  font-weight: bold;
  margin-top: 20px;
  background-color: white;
  color: #4987ea;
  font-family: Roboto;
  margin: 20px 00px 20px 00px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .main img {
    content: url("../../assets/img/bg-mobile.png") !important;
    width: 100vw;
  }
}
